// extracted by mini-css-extract-plugin
$background-body: rgb(247, 247, 247);
$primary: rgb(26 118 210);

    body{
        background-color: $background-body!important;
    }

    .MuiListItem-root a{
        width: 100%;
        color: black;
    }


    #content-div{
        background-color: white;
        margin: auto;
        width: 85%;
        margin-top: 90px;
        padding: 20px;
        border-radius: 5px;
        box-shadow: 0px 0px 1px grey;
        min-height:500px;
    }

    .form-control{
        padding: 12px!important;
        font-size: 14px!important;
    }

    .MuiTableCell-head{
        background-color: $primary!important;
        color:white!important;
    }


    .MuiTableBody-root tr:nth-child(2n+1){
        background-color: rgb(249 249 249);
    }